<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<config>
<Settings>
<USER>mutonar</USER>
<PASS>Solovin2</PASS>
<URL1>jdbc:postgresql://minoro.ru:5432/</URL1>
<URL2>jdbc:postgresql://127.0.0.1:5432/</URL2>
<URL>jdbc:postgresql://172.16.35.50:5432/</URL>
<BASE>test666</BASE>
<BASE1>kln_problem_test</BASE1>
<BASE2>kln_aleksey</BASE2>
<BASE3>Kln_Aleksei_wrk2</BASE3>
<BASE4>kln_aleksey_local</BASE4>
<DesignDir>C:\Users\cherepanov\Desktop\test</DesignDir>
<nameProject>Калининград_цех</nameProject>
<BASE5>test</BASE5>
<BASE6>test_aleksey</BASE6>
<BASE7>test555</BASE7>
<BASE8>kln_kc</BASE8>
<BASE9>kln_gpa</BASE9>
<BASE10>Present</BASE10>
</Settings>
</config>
