<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<config>
    <Settings>
        <USER>mutonar</USER>
        <URL>jdbc:postgresql://minoro.ru:5432/</URL>
        <BASE>lev</BASE>
        <BASE1>pravoslav</BASE1>
        <DesignDir>/home/ad/Документы по работе/KVANT2R_Ekaterinovka_9709_20200313</DesignDir>
        <nameProject>5</nameProject>
        <PASS>Solovin2</PASS>
	</Settings>
</config>
